---
interface Props {
	title: string;
	body: string;
	href: string;
}
interface CardProps {
  href: string;
  title: string;
  body: string;
  imageSrc?: string; // 定义imageSrc属性，它是一个可选的字符串类型
}

const { href, title, body } = Astro.props;
---

<li class="link-card">
	<a href={href}>
		<h2>
			{title}
			<span>&rarr;</span>
		</h2>
		<p>
			{body}
		</p>
	</a>
</li>
<style>
	 .card-image {
    max: width 80%; /* 使图片最大宽度为100%，可根据需要调整 */
    height: auto; /* 保持图片宽高比 */
    margin-left: 1rem; /* 图片与文字的间距 */
    margin-right: 1rem; /* 图片与文字的间距 */
    float: left; /* 使图片与文字并排 */
  }

  /* 清除浮动样式，可选，取决于你的布局需求 */
  .card-content::after {
    content: "";
    display: table;
    clear: both;
	.link-card {
		list-style: none;
		display: flex;
		padding: 1px;
		background-color: #23262d;
		background-image: none;
		background-size: 400%;
		border-radius: 7px;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
	}
	.link-card > a {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		padding: calc(1.5rem - 1px);
		border-radius: 8px;
		color: white;
		background-color: #23262d;
		opacity: 0.8;
	}
	h2 {
		margin: 0;
		font-size: 1.25rem;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
	}
	.link-card:is(:hover, :focus-within) {
		background-position: 0;
		background-image: var(--accent-gradient);
	}
	.link-card:is(:hover, :focus-within) h2 {
		color: rgb(var(--accent-light));
	}
	<li class="link-card">
  <a href={href}>
    <h2>
      {title}
      <span>&rarr;</span>
    </h2>
    <div class="card-content">
      <p>{body}</p>
      <!-- 在文字旁边插入图片 -->
      {imageSrc && (
        <img 
          src={imageSrc} 
          alt="相关描述" 
          class="card-image" // 使用 CSS 类来控制图片样式
        />
      )}
    </div>
  </a>
</li>
</style>

